################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/build/Application_suite
/.vs
/__pycache__
/Application_suite.spec
/Application suite.pyproj.user
